html, body
{
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#header {
 height: 50px;
 width: 100%;
}

#sidebar {
 width: 20%;
 float:left;
}

#content {
	width:80%;
	float:left;
	/*
	background-color: Red;
    */
}

#textArea, #statusArea {
	width: 100%;
	border: 0px;
}

#statusArea {
	height: 80px;
    overflow-y:scroll;
}            