<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app>

   <init-param>
      <!-- speed up initial Jersey loading by deactivating WADL -->
      <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
      <param-value>true</param-value>
    </init-param>

    <servlet>
      <servlet-name>Jersey Web Application</servlet-name>
      <servlet-class>
        com.sun.jersey.spi.container.servlet.ServletContainer
      </servlet-class>
      <init-param>
          <param-name>com.sun.jersey.config.property.packages</param-name>
          <!-- Enter your Jersey resources to speed up initial Jersey loading -->
          <!-- You can separate the java packages using , -->
          <param-value>icloude, icloude.request_handlers</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>Jersey Web Application</servlet-name>
      <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

  <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>